* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.right {
    float: right;
}

.left {
    float: left;
}

#section-1 {
    background-color: thistle;
}

.big-un-blue {
    font-size: 6rem;
    font-weight: 900;
    color: rgb(91, 146, 229);
}

.sdg-logo-img img {
    width: 600px;
}