* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


/* General Libs */
.section {
    padding: 2rem 0;
    /* min-height: 70vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.un-blue {
    color: rgb(0, 158, 219);
}

.theme-color {
    color: rgb(91, 146, 229);
}

/* Home Section */
#home {
    min-height: 95vh;
    /* background-color: thistle; */
}

.main-box {
    margin: auto;
    background-color: rosybrown;
}

.home-heading {
    /* background-color: salmon; */
    text-align: left;
    font-size: 5rem;
    font-weight: 900;
}

.home-motto {
    width: fit-content;
    margin: 2rem 0 0 2rem;
    padding: 1rem 0 2rem 0;
    text-align: left;
    text-transform: uppercase;
}

/* Mission Section */
#mission {
}

.mission-img img {
    width: 500px;
}

.mission-content {
    padding: 12% 4%;
    max-width: 600px;
    font-size: 1.3rem;
    text-align: justify;
}



/* Stats Counter Begins */
#stats {
    min-height: 50vh;
    background-color: blanchedalmond;
	display: flex;
	justify-content: center;
    padding: 4rem 0 0 0;
}

.stat-box {
    border-radius: 0.8rem;
    width: 16rem;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.4);
}

span.stat-icon {
    font-size: 3rem;
}

/* .vline {
    width: 2px;
    background-color: chartreuse;
} */

/* .stat-box>h5 {
    font-size: 3rem;
} */
/* Stats Counter Ends */


/* Event Section */
.event-box {
    padding: 0.75rem;
    border-radius: 0.75rem;
}

.event-img img {
    border-radius: 0.75rem;
}





/* Special Effects */
.two-way-underline {
    padding-bottom: 8px;
    background:
        linear-gradient(#ff0000 0 0) 0 100%,
        linear-gradient(#0000ff 0 0) 100% 100%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    transition: .5s, background-position 0s .5s;
}

#mission-text-box:hover .two-way-underline {
    background-size: 100% 4px;
    background-position: 100% 100%, 0 100%;
}

/* .two-way-underline:hover {
    background-size: 100% 4px;
    background-position: 100% 100%, 0 100%;
} */

.color-splash {
    padding: 8px;
    background:
        radial-gradient(farthest-side at top, #00ff00 97%, #0000) top,
        radial-gradient(farthest-side at bottom left, #ff0000 97%, #0000) bottom left,
        radial-gradient(farthest-side at bottom right, #0000ff 97%, #0000) bottom right;
    background-size: 0% 0%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

.color-splash:hover {
    background-size: 280px 140px, 280px 280px;
    transition: .5s;
}

.border-hv {
    padding: 8px;
    background:
        linear-gradient(90deg, currentColor 50%, #0000 0) 100% 0,
        linear-gradient(currentColor 0 0) 100% 0,
        linear-gradient(-90deg, currentColor 50%, #0000 0) 0% 100%,
        linear-gradient(currentColor 0 0) 0 100%;
    background-size: 200% 3px, 3px 0%;
    background-repeat: no-repeat;
    transition: .3s, background-position .3s .3s;
}

.border-hv:hover {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 200% 3px, 3px 100%;
    transition: .3s, background-size .3s .3s;
}

.glitch-text {
    text-shadow:
        0 0 0 rgb(255, 0, 0),
        0 0 0 rgb(0, 255, 0),
        0 0 0 rgb(0, 0, 255);
}

.glitch-text:hover {
    text-shadow:
        0.3px -0.1px 0.1px rgb(255, 0, 0),
        0.2px 0.1px 0 rgb(0, 255, 0),
        -0.1px 0.2px 0 rgb(0, 0, 255);
    transition: 0.2s cubic-bezier(0.5, 200, 0.5, -200);
}