* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header {
    padding: 2% 5%;
    /* background-color: teal; */
    text-align: center;
}

#header img {
    max-width: 80vw;
}

#sdg {
    margin: 6rem 0;
}

/* .sdg-container {
    min-height: 12rem;
    padding: 3%;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.4);
    width: 70%;
    display: flex;
    flex-direction: row;
}

.cleft {
    margin-left: 3rem;
}

.cright {
    margin-right: 3rem;
}

.gif img {
    height: 8rem;
}

@media screen and (min-width: 780) {
    .sdg-container {}
}

@media screen and (max-width: 780) {
    .sdg-container {}
}

@media screen and (max-width: 480) {
    .sdg-container {}
} */



.sdg-container {
    min-height: 8rem;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 0.4);
    width: 80vw;
    display: flex;
    overflow: hidden;
    padding: 1.5rem;
    /* flex-wrap: wrap; */
    /* text-align: center; */
    transition: all 0.6s ease;
    /* background-color: tomato; */
}

.lc {
    margin: 50px auto 20px 50px;
    flex-direction: row;
}

.rc {
    margin: 50px 50px 20px auto;
    flex-direction: row-reverse;
}

.sdg-container:hover {
    box-shadow: 0px 0px 40px 6px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.lc:hover {
    margin: 50px auto 20px 90px;
}

.rc:hover {
    margin: 50px 90px 20px auto;
}

.sdg-gif {
    width: fit-content;
    text-align: center;
    /* background-color: turquoise; */

    /* This might be a problem */
    overflow: hidden;
}

.sdg-gif img {
    align-self: center;
}

@media screen and (min-width: 780px) {
    .sdg-container {
        max-height: 18rem;
        /* padding: 3%; */
    }
    .sdg-gif img {
        height: 100%;
    }
}

@media screen and (max-width: 780px) {
    .sdg-container {
        margin: 50px auto 20px auto;
        flex-wrap: wrap;
    }
    .sdg-gif img {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .sdg-gif img {
        width: 100%;
    }
}

.sdg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
    /* min-height: 20vw; */
}

.sdg-heading {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    padding: 1rem;
    /* background-color: silver; */
}

.sdg-text {
    padding: 1rem;
    text-align: justify;
    line-height: 1.8rem;
    font-size: 1.2rem;
    /* background-color: royalblue; */
}

.border-hv {
    border: none;
    padding: 8px;
    background:
        linear-gradient(90deg, currentColor 50%, #0000 0) 100% 0,
        linear-gradient(currentColor 0 0) 100% 0,
        linear-gradient(-90deg, currentColor 50%, #0000 0) 0% 100%,
        linear-gradient(currentColor 0 0) 0 100%;
    background-size: 200% 3px, 3px 0%;
    background-repeat: no-repeat;
    transition: .3s, background-position .3s .3s;
}

.border-hv:hover {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-size: 200% 3px, 3px 100%;
    transition: .3s, background-size .3s .3s;
}

#footer {
    clear: both;
    height: 10rem;
    background-color: lightblue;
}

