.home-left {
  align-self: center;
  max-width: inherit;
}

#home {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.home-right {
  text-align: center;
}

.stat-box {
  box-shadow: 0px 0px 20px;
  border-radius: 0.8rem;
  padding: 14px;
  margin: 14px;
  min-width: fit-content;
}

#stats {
  background-color: #fce4d7;
  min-height: 55vh;
  display: flex;
  align-items: center;
}

.home-text {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: cornflowerblue;
  line-height: 5.2rem;
}

.mission-right {
  align-self: center;
}

.mission-left {
  text-align: center;
  align-self: center;
}

#mission {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

#events {
  background-color: rgb(214, 247, 254);
  min-height: 85vh;
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .home-text {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

@media (max-width: 360px) {
  .home-text {
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
  }
}

.event-page-btn {
  margin-top: 8px;
  float: right;
}

.event-page-rcol {
  align-self: center;
}

.form-overlay {
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 1;

}
.form-overlay {
  margin: 0;
  backdrop-filter: blur(5px);
  font-family: 'Roboto', sans-serif;
}


#progress {
  position: absolute;
  /* background: rgba(2, 188, 250, 0.4) ; */
  background-color: rgba(255, 255, 255, 0.158);
  backdrop-filter: blur(8px);
  height: 100vh;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******
  Form
 ******/

#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
  border-radius: 12px;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
}

.next {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 40px;
  color: #25a3ff;
  float: right;
  cursor: pointer;
}
.next:hover {color: #333}
.wrong .next {color: #ff2d26}
.close .next {color: #fff}

#inputContainer {
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity .3s ease-in-out;
}

#inputContainer input {
  width: 100%;
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
}

#inputLabel {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
  transition: .2s ease-in-out;
}

#inputContainer input:valid + #inputLabel {
  top: -15px;
  font-size: 11px;
  font-weight: normal;
  color: #9e9e9e;

}

#inputProgress {
  position: absolute;
  width: 100%;
  border-bottom: 2px solid #25a3ff;
  padding: 3px 0;
  width: 0;
  transition: width .6s ease-in-out;
}

.wrong #inputProgress {
  border-color: #ff2d26;
}
@media(max-width:410px) {
  #inputProgress {
width: 100%;
  }
}
@media(max-width:410px) {
 #register{
width: 100%;
 } 
}